= provide(:active_nav, 'users')

= breadcrumb({ label: 'Users', url: users_path },
             { label: 'New User' })

%h1 New User

= render partial: 'form', locals: { user: @user, context: :create }