%nav.navbar.navbar-expand-lg.navbar-light.bg-light{'aria-label': :"site-nav"}
  %span.navbar-brand
    = link_to('User Manager', root_path, class: 'nav-link nav-item')
  %div.navbar-nav
    = link_to('Users', users_path, class: 'nav-link nav-item')
